html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, img, b, i, dl, dt, dd, ol, ul, li,
label, article, aside, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

BODY {
  background: ivory;
  font: 16px/1.4 Verdana, sans-serif;
}

H1, H2, H3, H4 {
  font-weight: normal;
}

H1 {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
}

H2 {
  font-size: 20px;
}

P {
  margin-bottom: 1em;
  text-indent: 1em;
}

A {
  color: #0070ed;
}
A:hover {
  color: orangered;
}

.pseudo-link {
  border-bottom: 1px dotted;
  color: #353434;
  cursor: pointer;
}

.hide {
  /*display: none;*/
}

.list--dash__item:before {
  content: "\2014";
  position: relative;
  margin: 0 .5em 0 -1.5em;
  color: #858585;
}

.columns:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.columns__item {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.columns__item--left {
  padding-right: 45px;
}

.columns__item--right {
  padding-left: 45px;
}

/* Layout
---------------------------------------- */
.wrapper {
  min-width: 700px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #DDD;
  /*opacity: .4;*/
}

.section {
  position: relative;
  margin-bottom: 40px;
  /*padding-bottom: 30px;*/
  /*background: url(/task.png) -27px 0 repeat;*/
  /*border: 1px solid silver;*/
}
.section:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.section--intro {
  background: none;
}

.section--rating {
  background-position: -27px -36px;
}

.section--progress {
  background-position: -28px -75px;
}

.section--button {
  background-position: -27px -105px;
}

.section--browsers {
  background-position: -20px -212px;
  /*background: none;*/
}

/* Rating
---------------------------------------- */
.rating {
  margin-bottom: 5px;
  padding: 0;
}
.rating:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.rating__item {
  display: block;
  float: left;
  list-style-type: none;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.rating__radio {
  display: none;
}

.rating__label {
  display: block;
  padding-top: 100%;
  background: center bottom no-repeat;
  cursor: pointer;
}
.rating__label:hover {
  background-position: center top;
}

.rating__item--active .rating__label,
.rating__item--hover .rating__label {
  background-position: center top;
}

.rating--stars .rating__label {
  background-image: url(.././assets/img/stars.png);
}

.rating--hearts .rating__label {
  background-image: url(.././assets/img/hearts.svg);
}

.rating--smiles .rating__label {
  background-image: url(.././assets/img/faces.svg);
}

.rating--16 .rating__item {
  width: 16px;
  height: 16px;
}

.rating--32 .rating__item {
  width: 32px;
  height: 32px;
}

.rating--svg .rating__label {
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* Progress
---------------------------------------- */
.progress {
  position: relative;
  height: 14px;
  width: 210px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 1px 1px rgba(200, 200, 200, 0.9);
  box-shadow: inset 0 1px 1px 1px rgba(200, 200, 200, 0.9);
  border-radius: 6px;
  font-size: 9px;
  color: #000;
}

.progress__state {
  position: absolute;
  z-index: 1;
  width: 0;
  height: 14px;
  background: #28bf14;
  background: -webkit-gradient(linear, left top, left bottom, from(#abff58), color-stop(51%, #28bf14), color-stop(62%, #28bf14), color-stop(84%, #8bda1a), color-stop(95%, #8bda1a), to(#28bf14));
  background: -webkit-linear-gradient(#abff58, #28bf14 51%, #28bf14 62%, #8bda1a 84%, #8bda1a 95%, #28bf14);
  background: linear-gradient(#abff58, #28bf14 51%, #28bf14 62%, #8bda1a 84%, #8bda1a 95%, #28bf14);
  border-radius: 7px;
  overflow: hidden;
  -webkit-animation: progress 5s linear infinite alternate;
  animation: progress 5s linear infinite alternate;
  color: white;
}

.progress__percents {
  display: block;
  position: absolute;
  width: 210px;
  height: 14px;
  text-align: center;
  line-height: 14px;
}

/* Button
---------------------------------------- */
.button {
  position: relative;
  padding: 1px 17px;
  border: 1px solid #CCC;
  border-color: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: #E2E2E2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e2e2e2));
  background: -webkit-linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  background: linear-gradient(#f2f2f2 30%, #e2e2e2 70%);
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font: 11px/1.4 Verdana, sans-serif;
  cursor: pointer;
}
.button:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 35, 214, 0.94);
  box-shadow: 0 0 4px rgba(0, 35, 214, 0.94);
}
.button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fdffcc;
  background: -webkit-gradient(linear, left top, left bottom, from(#feffeb), to(#fdffcc));
  background: -webkit-linear-gradient(#feffeb 30%, #fdffcc 70%);
  background: linear-gradient(#feffeb 30%, #fdffcc 70%);
}

.button--pressed {
  outline: none;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.02);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
}
.button--pressed:hover {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);
}

.decore--bg {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  background: gold;
  background: -webkit-linear-gradient(0deg, indigo 10px, red 11px, red 20px, orange 21px, orange 30px, gold 31px, gold 40px, yellowgreen 41px, yellowgreen 50px, steelblue 51px, steelblue 60px) center repeat;
  background: linear-gradient(90deg, indigo 10px, red 11px, red 20px, orange 21px, orange 30px, gold 31px, gold 40px, yellowgreen 41px, yellowgreen 50px, steelblue 51px, steelblue 60px) center repeat;
  -webkit-background-size: 60px 100%;
  background-size: 60px 100%;
}

.decore--circles {
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  overflow: hidden;
  border-radius: 30px;
  vertical-align: middle;
}
.decore--circles:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: 1px;
  left: 1px;
  width: 2px;
  height: 2px;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 white, 0 0 0 5px yellowgreen, 0 0 0 15px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white;
  box-shadow: 0 0 0 0 white, 0 0 0 5px yellowgreen, 0 0 0 15px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white;
  -webkit-animation: 1s circles infinite linear;
  animation: 1s circles infinite linear;
}

@-webkit-keyframes circles {
  100% {
    -webkit-box-shadow: 0 0 0 5px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white, 0 0 0 135px white, 0 0 0 145px white;
    box-shadow: 0 0 0 5px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white, 0 0 0 135px white, 0 0 0 145px white;
  }
}

@keyframes circles {
  100% {
    -webkit-box-shadow: 0 0 0 5px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white, 0 0 0 135px white, 0 0 0 145px white;
    box-shadow: 0 0 0 5px white, 0 0 0 25px yellowgreen, 0 0 0 35px white, 0 0 0 45px yellowgreen, 0 0 0 55px white, 0 0 0 65px #d7ebad, 0 0 0 75px white, 0 0 0 85px #ebf5d6, 0 0 0 95px white, 0 0 0 105px white, 0 0 0 115px white, 0 0 0 125px white, 0 0 0 135px white, 0 0 0 145px white;
  }
}

/* Browsers
---------------------------------------- */
.browsers__item {
  float: left;
  margin-left: 12px;
  font-family: Arial, sans-serif;
}
.browsers__item:first-child {
  margin-left: 0;
}
.browsers__item:before {
  content: "";
  display: inline-block;
  height: 120px;
  vertical-align: middle;
}

.browsers__img {
  vertical-align: middle;
}

.placeholder {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  text-align: center;
}

.text--green {
  color: #22a12a;
}

.text--red {
  color: #c90000;
}

.text--gold {
  color: #f9d411;
}

.browsers__item--chrome {
  color: green;
}

.img--chrome {
  width: 126px;
  height: 121px;
}

.browsers__item--firefox {
  color: #f2a414;
}

.img--firefox {
  width: 120px;
  height: 124px;
}

.browsers__item--opera {
  color: #c10e0e;
}

.img--opera {
  width: 108px;
  height: 118px;
}

.browsers__item--safari {
  color: #646464;
}

.img--safari {
  width: 112px;
  height: 125px;
  margin-top: -4px;
}

.browsers__item--ie {
  float: right;
  color: #036da3;
}

.img--ie {
  width: 126px;
  height: 123px;
  margin-top: 5px;
}

/* Text
---------------------------------------- */
.section--text {
  font-family: 'PT Sans', 'Trebuchet MS',sans-serif;
}

.section--columns__title {
  width: 50%;
  padding-right: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
